

            .apishopsModal{
                display: none;
                z-index: 4000;
            }
            .apishopsModal {
                display: none;
            }


            .apishopsModal.apishopsAnimation{
                transition: opacity 0.2s ease-out;
                opacity:0;
                visibility:hidden;
            }

            .apishopsModal.apishopsAnimation.in{
                opacity:1;
                visibility:visible;
            }

            .apishopsModal.apishopsAnimation.successModal .apishopsModalWindow{
                top:100px;
                left: 100px;
                right: 100px;
                width: auto;
                width: initial;
                border-radius: 10px;
                padding: 50px;
                z-index: 99999;
                position: fixed;
                overflow: auto;
            }

            .apishopsModal.apishopsAnimation.successModal .apishopsModalContent{
              text-align: left;
            }

            .apishopsModal.apishopsAnimation.successModal *{
              font-family: Arial;
            }
            .apishopsModal.apishopsAnimation.successModal h1{
              line-height: 100%;
            }

            .apishopsModalWindow {
                background: none repeat scroll 0 0 white;
                border-radius: 3px 3px 3px 3px;
                box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
                left: 31%;
                min-height: 216px;
                padding: 19px;
                position: absolute;
                top: 76px;
                width: 500px;
                z-index: 4010;
                box-sizing: padding-box;
                box-sizing: padding-box;
            }

            .apishopsModal.apishopsAnimation.successModal .additionalProducts a {
                color: #0095ff;
            }

            .apishopsModal.apishopsAnimation.successModal .apishopsModalClose2 {
              display: block;

            }

            .apishopsModal.apishopsAnimation.successModal .apishopsModalClose2 a{
                border: 2px solid;
                border-radius: 25px;
                color: rgb(94, 92, 92);
                display: inline-block;
                line-height: 20px;
                padding: 11px 25px 9px 25px;
                text-decoration: none;
                margin: 30px 0px 0px;
                font-size: 15px;
            }






.apishopsFormImageWrapper {
    cursor: pointer;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 200px;
    width: 100%;

    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.apishopsFormImageWrapper img {
    height: 100% !important;
    width: auto !important;
    width: initial !important;
}
.apishopsFormImageWrapper:after {
    background: none repeat scroll 0 0 rgba(45, 45, 45, 0.43);
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.2s ease 0s;

}
.apishopsFormItem:hover .apishopsFormImageWrapper:after {
    opacity: 1;
}
.apishopsFormImageWrapper:before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.69);
    border-radius: 3px;
    color: white;
    content: "Подробнее";
    font-size: 11px;
    left: 50%;
    letter-spacing: 2px;
    margin-left: -60px;
    margin-top: -15px;
    padding: 8px 13px;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transition: all 0.4s ease 0s;
    z-index: 99;
    width: 88px;
    box-sizing: auto;
    box-sizing: initial;

    height: 10px;
    line-height: 10px;
}
.apishopsFormItem:hover .apishopsFormImageWrapper:before {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.33);
    border-color: white;
    color: white;
}





            /* superScaled */
            .apishopsAnimation.apishopsSuperScaled .apishopsModalWindow{
              -webkit-transform: scale(2);
                      transform: scale(2);
              transition: -webkit-transform 0.2s ease-out;
              transition: transform 0.2s ease-out;
            }
            .apishopsAnimation.apishopsSuperScaled.in .apishopsModalWindow{
              -webkit-transform: scale(1);
                      transform: scale(1);
            }

            .apishopsAnimation.apishopsLetMeIn .apishopsModalWindow{
              -webkit-transform: scale(2);
                      transform: scale(2);
              transition: -webkit-transform 0.2s ease-out;
              transition: transform 0.2s ease-out;
            }
            .apishopsAnimation.apishopsLetMeIn.in .apishopsModalWindow{
              -webkit-transform: scale(1);
                      transform: scale(1);
            }

            /*sideFall*/
            .apishopsAnimation.apishopsSideFall .apishopsModalWindow{
              -webkit-transform: scale(2) translate(30%) translateZ(600px) rotate(10deg);
                      transform: scale(2) translate(30%) translateZ(600px) rotate(10deg);
              -webkit-transform-style: preserve-3d;
                  -ms-transform-style: preserve-3d;
                      transform-style: preserve-3d;
              transition: -webkit-transform 0.2s ease-out;
              transition: transform 0.2s ease-out; box-sizing: border-box;
            }
            .apishopsAnimation.apishopsSideFall.in .apishopsModalWindow{
              -webkit-transform: scale(1) translate(0%) translateZ(0px) rotate(0deg);
                      transform: scale(1) translate(0%) translateZ(0px) rotate(0deg); box-sizing: border-box;
              z-index: 999999;
            }

            /*3dFlip*/
            .apishopsAnimation.apishopsFlip .apishopsModalWindow{
              -webkit-transform: rotateY(-76deg);
                      transform: rotateY(-76deg);
              -webkit-transform-style: preserve-3d;
                  -ms-transform-style: preserve-3d;
                      transform-style: preserve-3d;
              transition: -webkit-transform 0.2s ease-out;
              transition: transform 0.2s ease-out;
               opacity:0;
            }
            .apishopsAnimation.apishopsFlip.in .apishopsModalWindow{
              -webkit-transform: rotateY(0deg);
                      transform: rotateY(0deg);
              opacity:1;
            }


            .apishopsModalOverlay {
                background: none repeat scroll 0 0 rgba(71, 55, 78, 0.8);
                bottom: 0;
                left: 0;
                opacity: 0.46;
                position: fixed;
                right: 0;
                top: 0;
                z-index:4000;
            }



.apishopsModalClose {
    display: inline-block;
    height: 30px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    text-indent: 100%;
    top: 10px;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transition: -webkit-transform 0.3s ease 0s, visibility 0s ease 0.3s;
    transition: transform 0.3s ease 0s, visibility 0s ease 0.3s;
    visibility: visible;
    white-space: nowrap;
    width: 30px;
    z-index: 999999;
    cursor: pointer;
}
.apishopsModalClose:before, .apishopsModalClose:after {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: none repeat scroll 0 0 #47374e;
    display: inline-block;
    height: 4px;
    left: 5px;
    position: absolute;
    top: 12px;
    width: 20px;
    content: "";
}
.apishopsModalClose:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.apishopsModalClose:after {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
.apishopsModalClose:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

            .apishopsModalClose2 {
                padding-top: 10px;
                text-align: center;
            }
            .apishopsModalClose2 a {
                border-bottom: 1px dotted;
                font-size: 12px;
                text-decoration: none;
            }





.apishopsForm{
    margin:0px;
}

.apishopsForm small{
    display: block;
}

.apishopsForm h1{
     margin: 0px 0px;
}






.apishopsForm .apishopsFormGroup.apishopsAnimation.apishopsSlide.in{
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    max-height: 1000px;
    overflow: hidden;
     margin: inherit;
     opacity:1;
     visibility:visible;
}

.apishopsForm .apishopsFormGroup.apishopsAnimation.apishopsSlide{
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    opacity:1;
    visibility:hidden;
}

.formInline .apishopsFormGroup {
    display: inline-block;
    vertical-align: middle;
}




.apishopsForm .apishopsFormError > * {
   color:#B94A48
}

.apishopsForm .apishopsFormError > input, .apishopsForm .apishopsFormError > select {
    background: none repeat scroll 0 0 rgba(254, 122, 101, 0.63) !important;
    box-shadow: 0 0 2px rgba(255, 0, 0, 0.55);
    color: #FFFFFF !important;
}






.apishopsFormGroup.apishopsLoading{
    position: relative;
}

.apishopsFormGroup:after{
    transition: all 0.2s ease-out;
    opacity:0;
}


.apishopsFormGroup.apishopsLoading:after{
    background: url("http://coffee.apishops.ru/Images/indicator.gif") no-repeat scroll center 62% rgba(255, 255, 255, 0.46);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.2s ease-out;
    opacity:1;
}


.apishopsPersperctive,
.apishopsPersperctive body {
    /*height: 100%;
    overflow: hidden;*/
}

.apishopsPersperctive body  {
    background: #222;
    -webkit-perspective: 600px;
    perspective: 600px;
}

body{
    transition: all 0.3s ease-in;
}

.apishopsFormLoadingText {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    padding: 64% 0px 0px 0px;
    background: rgba(255, 255, 255, 0.50);
}
.apishopsFormLoading {
    position: relative;
}
.apishopsModalContent {
    text-align: center;
}


.apishopsModalContent .apishopsFormTheme3____item {
    border: 0px;
}


.apishopsFormTheme2_item { padding-bottom: 25px; padding-top: 25px;  line-height: 1.4; background:none repeat scroll 0 0 white ; text-align: center; display: inline-block; width: 315px; border-right: solid 1px #ededed; vertical-align: top; }
.apishopsFormTheme2_item:last-child { border-right: 0; }
.apishopsFormTheme2_item:last-child .apishopsFormTheme2_img img { margin-top: 20px; }
.apishopsFormTheme2_item:first-child .apishopsFormTheme2_img {  }
.apishopsFormTheme2_img { overflow: hidden; }
.apishopsFormTheme2_img img { height: 169px; }
.apishopsFormTheme2_caption { margin: 0; padding: 0; font-size: 26px; color: #181818; line-height: 1em; font-family: "nerislight"; font-weight: normal; font-style: normal; }
.apishopsFormTheme2_color {  margin:0px; padding:0px; max-height: 70px; overflow: hidden; font-size: 17px; color: #333333; font-family: "nerislight"; font-weight: normal; font-style: normal; }
.apishopsFormTheme2_color p{margin: 0px; padding: 0px;}
.apishopsFormTheme2_price { margin:0px; padding:0px;font-size: 21px; color: #282828; text-transform: uppercase; font-family: "nerissemibold"; font-weight: normal; font-style: normal; }
.apishopsFormTheme2_form { clear: both; }
.apishopsFormTheme2_form:after { content: " "; display: table; clear: both; }
.apishopsFormTheme2_form form { margin-top: 20px; }

.apishopsFormTheme2_form input,.apishopsFormTheme2_form select { padding-left: 10px !important; width: 284px !important; height: 45px !important; margin: auto auto 10px !important; border-radius: 6px !important; background-clip: padding-box !important; box-sizing: border-box !important;  border: 3px solid rgba(255, 255, 255, 0.28) !important; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08) !important; }

.apishopsFormTheme2_form input,.apishopsFormTheme2_form select { width: 222px !important; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.37) !important; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iOTkuMjIlIiBzdG9wLWNvbG9yPSIjZjVmNWY1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjVmNWY1Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 99.22%, #f5f5f5 100%); }

.apishopsFormTheme2_form input::-moz-placeholder, .apishopsFormTheme2_form select::-moz-placeholder {
    color: #999999;
    font-family: "neristhin",Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}


.apishopsFormTheme2_form .button {
background: linear-gradient(to bottom, #a0ad4f 0%, #a0ad4f 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
 outline: medium none; border: 0 none; padding: 0 39px; box-sizing: border-box; border-radius: 4px; padding: 0 39px; height: 51px; color: #ffffff; text-shadow: 0px 0px 1px #aaa; display: block; margin: 20px auto auto; font-family: "nerissemibold", Arial; font-weight: normal; font-style: normal; font-size: 24px; background-clip: padding-box; border-radius: 4px; letter-spacing: 1px; text-decoration: none; background-color: #a0ad4f; box-shadow: 0 4px 0 #818c36; text-transform: uppercase;}

.apishopsFormTheme2_form .button:hover {
    background-color: #b7c365; cursor: pointer;
}


















.featured_grid .featured_item {
  opacity: 0;
  display: inline-block;
  float: none;
}

.featured_grid .featured_item.animate {
  -webkit-animation: fadeIn 1.65s ease forwards;
  animation: fadeIn 1.65s ease forwards;
}
@-webkit-keyframes fadeIn {
  0% { }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { }
  100% { opacity: 1; }
}







/**
 * Фикс для вставляемой формы
 */
.featuredFormInsertContainer {
    max-width: 1000px;
     padding-bottom: 50px;
}
.featuredFormInsertContainer .featured__more{
    opacity: 0.8;
    padding: 31px;
}
.featuredFormInsertContainer .featured__more:HOVER{
    opacity: 1;
}

#featuredFormInsertContainerClosest h3.title {
    padding: 1% !important;
}

.apishopsModalNavigation{
    display: none;
}



@media (max-width: 767px) {

    body{
        background-color: orange;
    }

.apishopsModal.apishopsAnimation.successModal .apishopsModalWindow{
        bottom: 10px;
        left: 10px;
        padding: 30px;
        right: 10px;
        top: 10px;
    }

    .apishopsModal.apishopsAnimation.successModal .apishopsModalWindow *{
        font-size: 13px;
    }

    .apishopsModal.apishopsAnimation.successModal .apishopsModalWindow h1 {
        font-size: 20px;
    }

    .apishopsModal.apishopsAnimation.successModal .apishopsModalWindow h2 {
        font-size: 20px !important;
        margin: 8px 0 !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    body{
        background-color: red;
    }

    .apishopsModal.apishopsAnimation.successModal .apishopsModalWindow{
        bottom: 10px;
        left: 10px;
        padding: 30px;
        right: 10px;
        top: 10px;
    }

    .apishopsModal.apishopsAnimation.successModal .apishopsModalWindow *{
        font-size: 16px;
    }

    .apishopsModal.apishopsAnimation.successModal .apishopsModalWindow h1 {
        font-size: 25px;
    }

    .apishopsModal.apishopsAnimation.successModal .apishopsModalWindow h2 {
        font-size: 25px !important;
    }

}
@media (min-width: 992px) and (max-width: 1199px) {


}











