.apishopsForm .apishopsFormGroup {
    transition: all 0.5s ease-out;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
     text-align: center;
}

.apishopsFormButton.apishopsFormBuy {
    background: url("http://img.apishops.org/SinglePageWebsites/custom/images/button_bg2.png") repeat scroll 0 -5px rgba(0, 0, 0, 0);
    display: inline-block;
     margin-left: -30px;
}
.apishopsFormImage .apishopsFormImage{
    background: none !important;
}
.apishopsFormButton.apishopsFormBuy b {
    color: #000000;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    line-height: 45px;
    padding: 1px 0 0 29px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.92);
    white-space: nowrap;
    position: relative;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.apishopsForm label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.apishopsFormButton.apishopsFormBuy b:after {
    background: url("http://img.apishops.org/SinglePageWebsites/custom/images/button_bg2.png") no-repeat scroll right -59px rgba(0, 0, 0, 0);
    content: "";
    position: absolute;
    width: 30px;
    height: 100px;
    top: 0px;
    right: -30px;
}

.apishopsFormTheme0____caption {
    font-size: 19px;
    line-height: 1.1;
    margin-bottom: 10px;
}

.apishopsFormTheme0 {
    display: inline-block;
    margin: 10px;
    text-align: center;
    width: 250px;
}

.apishopsFormTheme0.featured_item {
    border: 1px solid #e1dfdf;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #c9c9c9;
    display: inline-block !important;
    margin: 10px;
    padding: 21px 10px;
    text-align: center;
    width: 250px;
}

.apishopsFormTheme0 .apishopsFormImageWrapper:before{
  border-radius: 20px;
}
.apishopsFormTheme0 h3{
    border: 0 none;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    color: #999;
}
.apishopsFormTheme0 h3 span {
    position: relative;
}

.apishopsFormTheme0 h3 span:after {
    border-bottom: 1px solid;
    content: "";
    left: -2px;
    position: absolute;
    right: 0;
    top: 10px;
}

.apishopsFormTheme0 h4{
      border: 0 none;
    color: #be0a0a;
    font-size: 24px;
    margin: 0 0 20px;
    padding: 0;
    vertical-align: baseline;
}

.apishopsFormTheme0 *{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.apishopsFormButton.apishopsFormBuy.apishopsFormBuySmall{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-trnasform:scale(0.8);
}


.apishopsFormButton.apishopsFormBuy:hover {
    opacity: 0.8;
}

.apishopsForm input[type=text], .apishopsForm  select {
    background: linear-gradient(center top , rgba(255, 255, 255, 0.76) 0%, rgba(255, 255, 255, 0.76) 100%) repeat scroll 0 0 #FFF000;

    font-size: 17px;
    padding: 9px 9px;

    display:block;
    width:100%;
    transition: all 0.4s ease-out;

    border: 1px solid rgba(0, 0, 0, 0.25);

    height:45px;

    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.17) inset;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    margin-bottom: 10px;
}

.apishopsModal .apishopsFormTheme0.featured_item {
    border: medium none;
    box-shadow: none;
}
