<link href="../css/apishopsForm/apishopsForm7.css" rel="stylesheet" >
<link href="http://img.apishops.org/SinglePageWebsites/custom/css/apishopsForm/apishopsForm7.css" rel="stylesheet" >




                <div id="apishopsFormTheme7DIV_1">
                    <div id="apishopsFormTheme7DIV_2">
                        %NAME%
                    </div>
                    <div id="apishopsFormTheme7DIV_3">
                        <img alt="watch" width="170" class='%IMG%'  id="apishopsFormTheme7IMG_4" />
                    </div>
                    <div id="apishopsFormTheme7DIV_5">
                        <h3 id="apishopsFormTheme7H3_6">
                             <span id="apishopsFormTheme7SPAN_7">%OLDPRICE% %CYR%</span>
                        </h3>
                        <h4 id="apishopsFormTheme7H4_8">
                            %PRICE% <span id="apishopsFormTheme7SPAN_9">%CYR%</span>
                        </h4>
                    </div>
                    <div id="apishopsFormTheme7DIV_10">
                        <div id="apishopsFormTheme7DIV_11">
                            <form action="#" id="apishopsFormTheme7FORM_12" method="post">
                                <input name="apishopsFormCount" type="hidden" value="1" id="apishopsFormTheme7INPUT_13" />
                                <input name="apishopsFormFio" pattern=".{3,}" placeholder="Ваше имя" type="text" id="apishopsFormTheme7INPUT_14" />
                                <input name="apishopsFormPhone" pattern=".{3,}" placeholder="Мобильный телефон" type="text" id="apishopsFormTheme7INPUT_15" />
                                <input id="apishopsFormTheme7INPUT_16" name="apishopsFormAddress" placeholder="Адрес доставки" type="text" />
                                <input id="apishopsFormTheme7INPUT_16" name="apishopsFormPromocode" placeholder="Промокод (если есть)" type="text" />
                                <button id="apishopsFormTheme7BUTTON_17">
                                    купить
                                </button>
                                <a href="#" class='%QUICKVIEW%'>Читать о товаре</a>
                            </form>
                        </div>
                    </div>
                </div>