<link href="../css/apishopsForm/apishopsForm3.css" rel="stylesheet" >
<link href="http://img.apishops.org/SinglePageWebsites/custom/css/apishopsForm/apishopsForm3.css" rel="stylesheet" >

<div class="apishopsFormTheme3____item apishopsFormTheme">
   <div class="apishopsFormTheme3____caption apishopsFormName"  style="display:none">
      <some class="__NAME__">%NAME%</some>
   </div>
   <div class="apishopsFormTheme3____img apishopsFormImage"  style="display:none">    <img class="__IMG__" width=180 src="img/watch_img1.jpg" alt="watch"/>    </div>
   <div class="apishopsFormTheme3____price apishopsFormPrice"  style="display:none">
      <h3>
         Цена:
         <span>
            <some  class=__OLDPRICE__>%OLDPRICE%</some>
            <some class=__CYR__>%CYR%</some>
         </span>
      </h3>
      <h4>
         <some  class=__PRICE__>%PRICE%</some>
         <span>
            <some class=__CYR__>%CYR%</some>
         </span>
      </h4>
   </div>
   <div class="apishopsFormTheme3____form">
      <form id ="form2" action="#" method="post">
         <select name="apishopsFormCount">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
         </select>
         <input type="text" name="apishopsFormFio" class="name required" placeholder="Введите Ваше имя" >                   <input type="text" name="apishopsFormPhone" class="phone required" placeholder="Введите Ваш номер телефона">                    <input type="text" name="apishopsFormAddress" class="phone required" placeholder="Адрес доставки">          <button class="button button--yellow apishopsFormThemeButton">Заказать</button>
         <a href="#" class='%QUICKVIEW%'>Читать о товаре</a>
      </form>
   </div>
</div>