<link href="../css/apishopsForm/apishopsForm6.css" rel="stylesheet" >
<link href="http://img.apishops.org/SinglePageWebsites/custom/css/apishopsForm/apishopsForm6.css" rel="stylesheet" >



            <div id="apishopsFormTheme6DIV_1">
                <div id="apishopsFormTheme6DIV_2">
                    <div id="apishopsFormTheme6DIV_3">
                        <img alt="" width="213" id="apishopsFormTheme6IMG_4" class='%IMG%' />
                    </div>
                    <!-- /.img -->

                    <h3 id="apishopsFormTheme6H3_5">
                        %NAME%
                    </h3>
                    <h4 id="apishopsFormTheme6H4_6">
                         %OLDPRICE%
                    </h4>
                    <p id="apishopsFormTheme6P_8">
                        %PRICE% %CYR%
                    </p>
                    <div id="apishopsFormTheme6DIV_9">
                        <form action="send.php" id="apishopsFormTheme6FORM_10" method="post">
                            <input name="apishopsFormCount" type="hidden" value="1" id="apishopsFormTheme6INPUT_11" />
                            <input name="apishopsFormFio" placeholder="Ваше имя" type="text" id="apishopsFormTheme6INPUT_12" />
                            <input name="apishopsFormPhone" placeholder="Мобильный телефон" type="text" id="apishopsFormTheme6INPUT_13" />
                            <input id="apishopsFormTheme6INPUT_14" name="apishopsFormAddress" placeholder="Адрес доставки" type="text" /> 
                            <input id="apishopsFormTheme6INPUT_14" name="apishopsFormPromocode" placeholder="Промокод (если есть)" type="text" /> 
                            <button id="apishopsFormTheme6BUTTON_15">
                                Заказать!
                            </button>
                            <a href="#" class='%QUICKVIEW%'>Читать о товаре</a>
                        </form>
                    </div>
                </div>
                <!-- /.item -->

            </div>
