<form class="apishopsFormTheme1__ apishopsFormTheme">
    <div class="apishopsFormTheme1__Group">
        <div class="apishopsFormTheme1__Info">
            <div class="apishopsFormTheme1__Image apishopsFormImage" style="display:none"> 
                <img class="%IMG%" width=180 src="" alt="watch" /> 
            </div>
            <div class="apishopsFormTheme1__Name apishopsFormName" style="display:none">
                %NAME%
            </div>
            <div class="apishopsFormTheme1__Price apishopsFormPrice" style="display:none">
                <div class="price-arrow">
                    <p class="new">
                        %PRICE%
                        %CY%
                    </p>
                    <p class="old">
                        вместо
                        <span>
                             %OLDPRICE%
                             %CY%
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="apishopsFormTheme1__Group">
        <select name="apishopsFormCount">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="apishopsFormTheme1__Group">
        <input type="text" name="apishopsFormFio" placeholder="Ваше имя" pattern=".{3,}"> </div>
    <div class="apishopsFormTheme1__Group">
        <input type="text" name="apishopsFormPhone" placeholder="Контактный номер" pattern=".{3,}"> </div>
    <div class="apishopsFormTheme1__Group">
        <input type="text" name="apishopsFormAddress" placeholder="Адрес доставки" pattern=".{3,}"> </div>
    <div class="apishopsFormTheme1__Group">
        <input type="text" name="apishopsFormPromocode" placeholder="Промокод(если есть)"> 
    </div>
    <div class="apishopsFormTheme1__Group"> 
        <a href="#" onclick="jQuery(this).closest('form').submit(); return false;" class="apishopsFormTheme1__ThemeButton apishopsFormTheme1__Button apishopsFormTheme1__Buy apishopsFormThemeButton"><b>Заказать</b></a> 
    </div>
</form>