    <div class="apishopsModal apishopsAnimation apishopsAnimationQuickView">
        <div class="apishopsModalWindow">
            <div class="apishopsModalClose"></div>
            <div class="apishopsModalContent"></div>
            <div class="apishopsModalClose2">
                <a href="#" class="underline">закрыть окно</a>
            </div>
        </div>
        <div class="apishopsModalOverlay"></div>
        <div class='apishopsModalNavigation'>
            <div class='apishopsModalNavigationItems'>
                div
            </div>
            <div class='apishopsModalNavigationNext'>
                <!--<div class='apishopsModalNavigationTitle'>
                    часы мужские Breitling Sceleton (механика)
                </div>
                <div class='apishopsModalNavigationImage'>
                </div>-->
                <div class='apishopsModalNavigationArrow'>
                </div>
            </div>
            <div class='apishopsModalNavigationPrev'>
                <!--<div class='apishopsModalNavigationTitle'>
                    Турник в проем Iron Gym (Айрон Джим) + поддерживающие ремни
                </div>
                <div class='apishopsModalNavigationImage'>
                </div>-->
                <div class='apishopsModalNavigationArrow'>
                </div>
            </div>
        </div>
    </div>
    </div>