    <div class="apishopsModal apishopsAnimation">
        <div class="apishopsModalWindow">
            <div class="apishopsModalClose"></div>
            <div class="apishopsModalContent"></div>
            <div class="apishopsModalClose2">
                <a href="#" class="underline">закрыть окно</a>
            </div>
        </div>
        <div class="apishopsModalOverlay"></div>
        <div class='apishopsModalNavigation'>
            <div class='apishopsModalNavigationItems'>
                div
            </div>
            <div class='apishopsModalNavigationNextClosest'>
                <div class='apishopsModalNavigationNext'>
                    <div class='apishopsModalNavigationArrow'>
                    </div>
                </div>
            </div>
            <div class='apishopsModalNavigationPrevClosest'>
                <div class='apishopsModalNavigationPrev'>
                    <div class='apishopsModalNavigationArrow'>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>