<div class="apishopsFormQuickView">
    <div class="apishopsFormQuickViewImageContainer">
        <img src="%IMGSRC%">
    </div>
    <div class="apishopsFormQuickViewInfoContainer">
        <div class="apishopsFormQuickViewInfoContainerIn">
            <h2 class="apishopsFormQuickViewInfoContainerInTitle">%NAME%</h2>

                            <div class='apishopsFormQuickViewInfoContainerInOrder'>
                                    <span id="apishopsFormQuickViewInfoContainerInSPAN_37">%PRICE% %CYR%</span>
                                    <span id="apishopsFormQuickViewInfoContainerInSPAN_49">%OLDPRICE% %CYR%</span>
                            </div>

                            <div id="apishopsFormQuickViewInfoContainerInDIV_1">
                                <div id="">
                                     <div class="count_border hasCountdown" id="apishopsFormQuickViewInfoContainerIn2DIV_6">
                                        <span id="apishopsFormQuickViewInfoContainerIn2SPAN_7" class="countdown_row countdown_show4">
                                            <span id="apishopsFormQuickViewInfoContainerIn2SPAN_8" class="countdown_section">
                                                <span id="apishopsFormQuickViewInfoContainerIn2SPAN_9" class="countdown_amount">48</span>
                                                <br id="apishopsFormQuickViewInfoContainerIn2BR_10">Дней
                                            </span>
                                            <span id="apishopsFormQuickViewInfoContainerIn2SPAN_11" class="countdown_section">
                                                <span id="apishopsFormQuickViewInfoContainerIn2SPAN_12" class="countdown_amount">18</span>
                                                <br id="apishopsFormQuickViewInfoContainerIn2BR_13">Часов
                                            </span>
                                            <span id="apishopsFormQuickViewInfoContainerIn2SPAN_14" class="countdown_section">
                                                <span id="apishopsFormQuickViewInfoContainerIn2SPAN_15" class="countdown_amount">21</span>
                                                <br id="apishopsFormQuickViewInfoContainerIn2BR_16">Минут
                                            </span>
                                            <span id="apishopsFormQuickViewInfoContainerIn2SPAN_17" class="countdown_section">
                                                <span id="apishopsFormQuickViewInfoContainerIn2SPAN_18" class="countdown_amount">12</span>
                                                <br id="apishopsFormQuickViewInfoContainerIn2BR_19">Секунд</span>
                                            </span>
                                        </div>
                                </div>

                            </div>

                            <some class="apishopsFormQuickViewInfoContainerInDescription">%FULLDESC%</some>

                            <div class='apishopsFormQuickViewInfoContainerInOrder'>
                                <div class='bl2'>
                                    <input type=input value='' placeholder='Ваш номер телефона'>
                                </div>
                                <div class='bl3'>
                                    <input type=submit value='Заказать'>
                                </div>
                            </div>
        </div>
    </div>
</div>