<link href="../css/apishopsForm/apishopsForm4.css" rel="stylesheet" >
<link href="http://img.apishops.org/SinglePageWebsites/custom/css/apishopsForm/apishopsForm4.css" rel="stylesheet" >

                <div id="apishopsFormTheme4DIV_1">
                    <div id="apishopsFormTheme4DIV_2">
                        <img alt="watch" class='%IMG%' src="http://img2.apishops.org/SinglePageWebsites/custom/images/watchPandora_web/also_img1.jpg" id="apishopsFormTheme4IMG_3" />
                    </div>
                    <div id="apishopsFormTheme4DIV_4">
                        <h3 id="apishopsFormTheme4H3_5">
                            %NAME%
                        </h3>
                        <div id="apishopsFormTheme4DIV_6">
                            <h3 id="apishopsFormTheme4H3_7">
                                %PRICE%  <span id="apishopsFormTheme4SPAN_8">%CYR%</span>
                            </h3>
                            <h4 id="apishopsFormTheme4H4_9">
                                %OLDPRICE%  <span id="apishopsFormTheme4SPAN_10">%CYR%</span>
                            </h4>
                        </div>
                        <div id="apishopsFormTheme4DIV_11">
                            <div id="apishopsFormTheme4DIV_12">
                                <form action="#" id="apishopsFormTheme4FORM_13" method="post">
                                    <input name="apishopsFormCount" type="hidden" value="1" id="apishopsFormTheme4INPUT_14" />
                                    <input name="apishopsFormFio" pattern=".{3,}" placeholder="Ваше имя" type="text" id="apishopsFormTheme4INPUT_15" />
                                    <input name="apishopsFormPhone" pattern=".{3,}" placeholder="Мобильный телефон" type="text" id="apishopsFormTheme4INPUT_16" />
                                    <input id="apishopsFormTheme4INPUT_17" name="apishopsFormAddress" placeholder="Адрес доставки" type="text" />
                                    <input id="apishopsFormTheme4INPUT_18" name="apishopsFormPromocode" placeholder="Промокод (если есть)" type="text" /> 
                                    <button id="apishopsFormTheme4BUTTON_19">
                                        заказать
                                    </button>
                                    <a href="#" class='%QUICKVIEW%'>Читать о товаре</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>